/* VARIABLES CSS */
.container h2 {
    font-family: "Neutra Text TF Book";
    font-size: 20px;
    margin-bottom: 16px;
    color: #212529;
    font-weight: 600;
}

/* MEDIAS */
@media (max-width: 1200px) {
    div.container {
        padding: 0px 15px 20px 15px !important;
    }

    div.container.login {
        padding: 0px 15px 70px 15px !important;
    }
}

@media (max-width: 991px) {
    section.container {
        max-width: 1440px !important;
        padding: 0px 15px !important;
    }
}