/* CSS TITULO PAGINA */
.titulo-pagina {
    width: 100%;
    margin: auto;
    padding: 0px;
}

/* .texto-titulo {
    font-family: "OPTICrawClaredon-Book";
    font-size: 30px;
    color: #212529;
}

.texto-titulo-carrito {
    max-width: 1260px;
    margin: 0px;
    margin: auto !important;
} */

/* CSS PAGINACION*/
/* .paginacion {
    max-width: 1260px !important;
    margin: auto !important;
    padding-top: 10px;
}

.breadcrumb-item.active {
    color: #8F8178 !important;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}

.breadcrumb-item.active::before {
    color: #8F8178 !important;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}

.a-breadcrumb {
    text-decoration: none;
    color: #8F8178;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
} */

/* CSS SECCION REGISTRO/LOGIN*/
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 0px;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #838383;
    margin-bottom: 16px !important;
}

.boton-principal {
    background-color: #231F20;
    color: #fff;
    font-family: "Neutra Text TF";
    font-size: 18px;
    font-weight: 600 !important;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 16px;
    border-style:solid;
    padding: 10px 0px;
    margin-top: 20px;
}
.boton-principal:hover {
    background-color: #fff;
    color: black;
    border: black 3px double; 
    border-width: 0,1px !important;
}

.container {
    display: flex;
    /* margin-top: 20px; */
    align-items: center;
    flex-direction: column;
    padding: 0px 50px 100px 50px !important;
}

.container h2 {
    font-family: "Neutra Text TF Book";
    font-size: 20px;
    margin-bottom: 16px;
    color: #212529;
    font-weight: 600;
}

div.container {
    align-items:flex-start !important;
}

.n-label {
    font-family: "Neutra Text TF Book";
    font-size: 16px;
    color: #212529;
    font-weight: 100 !important;
}

/* MEDIAS */
@media (max-width: 1200px) {
    div.container {
        padding: 0px 15px 20px 15px !important;
    }

    div.container.login {
        padding: 0px 15px 70px 15px !important;
    }
}

@media (min-width: 992px) {
    section.container {
        max-width: 1440px !important;
        padding: 0px 90px !important;
    }
}

@media (max-width: 991px) {
    section.container {
        max-width: 1440px !important;
        padding: 0px 15px !important;
    }

    .texto-titulo {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    div.container {
        max-width: 100%;
    }
}