/* CSS TITULO PAGINA */
.titulo-pagina {
    width: 100%;
    margin: auto;
    padding: 0px;
}

/* CSS SECCION REGISTRO/LOGIN*/
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 0px;
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #838383;
    margin-bottom: 16px !important;
}

/* CSS ESPECIFICO BOTON EN ESTA PAGINA */
.boton-confirmar {
    font-size: 18px !important;
    min-height: 52px !important;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px 100px 50px !important;
}

.container h2 {
    font-family: "Neutra Text TF Book";
    font-size: 20px;
    margin-bottom: 16px;
    color: #212529;
    font-weight: 600;
}

div.container {
    align-items:flex-start !important;
}

.n-label {
    font-family: "Neutra Text TF Book";
    font-size: 16px;
    color: #212529;
    font-weight: 100 !important;
}

/* MEDIAS */
@media (max-width: 1200px) {
    div.container {
        padding: 0px 15px 20px 15px !important;
    }

    div.container.login {
        padding: 0px 15px 70px 15px !important;
    }
}

@media (min-width: 992px) {
    section.container {
        max-width: 1440px !important;
        padding: 0px 90px !important;
    }
}

@media (max-width: 991px) {
    section.container {
        max-width: 1440px !important;
        padding: 0px 15px !important;
    }

    .texto-titulo {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    div.container {
        max-width: 100%;
    }
}