@charset "utf-8";
/* CSS Document */

/* FONTS */
/* Letra grande banner slider */
@font-face {
    font-family: "OPTICrawClaredon-Book";
    src: url(../fonts/OPTICrawClarendon-Book.otf);
}
/* Titulos secciones */
@font-face {
    font-family: "ClaredonBTPro-Bold";
    src: url(../fonts/ClarendonBTPro-Bold.ttf);
}
/* Titulos seccionesfina */
@font-face {
    font-family: "ClaredonBTPro-Light";
    src: url(../fonts/clarendon-light-bt.ttf);
}
/* Primaria normal */
@font-face {
    font-family: "Neutra Text TF Book";
    src: url(../fonts/Neutra\ Text\ TF\ Book.otf);
}
/* Primaria gruesa */
@font-face {
    font-family: "Neutra Text TF Bold";
    src: url(../fonts/neutra-text-tf-bold.otf);
}
/* Primaria fina */
@font-face {
    font-family: "Neutra Text TF Light";
    src: url(../fonts/neutra-text-tf-light-5871e0fe13bff.otf);
}
/* Letra menu y banner slider */
@font-face {
    font-family: "Neutra Text TF SC";
    src: url(../fonts/neutra-text-tf-sc.otf);
}



/* CSS TITULO PAGINA */
.texto-titulo{
    font-family: "OPTICrawClaredon-Book";
    font-size: 30px;
    color: #212529;
}

.paginacion{
    max-width: 1260px !important;
    margin: auto !important;
    padding-top: 10px;
}

.texto-titulo-carrito{
    max-width: 1260px;
    margin: 0px;
    margin: auto !important;
}

.breadcrumb-item.active{
    color: #8F8178 !important;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}

.breadcrumb-item.active::before{
    color: #8F8178 !important;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}

.a-breadcrumb{
    text-decoration: none;
    color: #8F8178;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}

.titulo-pagina{
    width: 100%;
    margin: auto;
    padding: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 0px;
}


/* CSS SECCION 2 */

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #838383;
    margin-bottom: 16px !important;
}

.boton-principal {
    background-color: #231F20;
    color: #fff;
    font-family: "Neutra Text TF";
    font-size: 18px;
    font-weight: 600 !important;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 16px;
    border-style:solid;
    padding: 10px 0px;
    margin-top: 20px;
}
.boton-principal:hover {
    background-color: #fff;
    color: black;
    border: black 3px double; 
    border-width: 0,1px !important;
}

.container {
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px 100px 50px !important;
}

.container h2 {
    font-family: "Neutra Text TF Book";
    font-size: 20px;
    margin-bottom: 16px;
    color: #212529;
    font-weight: 600;
}

div.container {
    align-items:flex-start !important;
}

.n-label {
    font-family: "Neutra Text TF Book";
    font-size: 16px;
    color: #212529;
    font-weight: 100 !important;
}



@media (max-width: 1200px) {
    div.container {
        padding: 0px 15px 20px 15px !important;
    }

    div.container.login {
        padding: 0px 15px 70px 15px !important;
    }
}

@media (min-width: 992px) {
    section.container{
        max-width: 1440px !important;
        padding: 0px 90px !important;
    }
}

@media (max-width: 991px) {
    section.container{
        max-width: 1440px !important;
        padding: 0px 15px !important;
    }

    .texto-titulo{
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    div.container {
        /* padding: 0px 15px !important; */
        max-width: 100%;
    }
}