/*Variables CSS*/
/* CSS FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    min-height: 200px;
}

.contenido-footer {
    display: flex;
    flex-direction: column;
}

.p-footer {
    color: #fff;
    font-size: 16px;
    font-family: 'Neutra Text TF Book';
    align-content: center;
    margin-top: 10px;
}

.texto-footer {
    display: flex;
    align-items: center;
    margin: auto;
}


/* REDES SOCIALES */
.redes-sociales ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0; 
}

.redes-sociales ul li {
    width: 40px;
    height: 40px;
    line-height: 30px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales ul li:hover {
    background-color: white;
}

.redes-sociales ul li .fa {
    color: black;
    font-size: 25px; 
    margin: 0; 
    line-height: 35px;
}

.redes-sociales ul li .fa-facebook {
    color: black;
    width: 30px;
    height: 30px;
    padding-top: 4px;
    padding-right: 2px;
}