@charset "utf-8";
/* CSS Document */

/* FONTS */
/* Letra grande banner slider */
@font-face {
    font-family: "OPTICrawClaredon-Book";
    src: url(../fonts/OPTICrawClarendon-Book.otf);
}
/* Titulos secciones */
@font-face {
    font-family: "ClaredonBTPro-Bold";
    src: url(../fonts/ClarendonBTPro-Bold.ttf);
}
/* Titulos seccionesfina */
@font-face {
    font-family: "ClaredonBTPro-Light";
    src: url(../fonts/clarendon-light-bt.ttf);
}
/* Primaria normal */
@font-face {
    font-family: "Neutra Text TF Book";
    src: url(../fonts/Neutra\ Text\ TF\ Book.otf);
}
/* Primaria gruesa */
@font-face {
    font-family: "Neutra Text TF Bold";
    src: url(../fonts/neutra-text-tf-bold.otf);
}
/* Primaria fina */
@font-face {
    font-family: "Neutra Text TF Light";
    src: url(../fonts/neutra-text-tf-light-5871e0fe13bff.otf);
}
/* Letra menu y banner slider */
@font-face {
    font-family: "Neutra Text TF SC";
    src: url(../fonts/neutra-text-tf-sc.otf);
}



/*Variables CSS*/
 /* CSS TITULOS ENTRE SECCIONES */
.titulos-secciones{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'ClaredonBTPro-Light';
    font-size: 32px;
    color: #212529;
    margin: 0px;
}
.banner-products{
    max-width: 1260px !important;
    padding-bottom: 30px;
}
.img-banner-products{
    width: 100%;
}

/* CSS PRODUCTOS */
div.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

div.container.text-center{
    max-width: 1260px !important;
    padding: 0px !important;
}


div.row{
    margin: auto;
    padding-bottom: 20px;
}
.producto-ind{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0px 5px !important;
}
.card{
    border-radius: 0% !important;
    border-style: none !important;
}
.card-img-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0% !important;
    object-fit: cover; 
}
.card-body{
    width: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.div-premium{
    height: 45px;
}

.div-edad{
    height: 45px;
}

.nuevo{
    font-family:'Neutra Text TF';
    font-weight:400;
    font-size: 16px;
    text-align: left;
    width: 156.5px;
    color: rgb(193, 193, 193);
    display: block;
    height: 24px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-size-adjust: 100%;
    user-select: none;
    padding-top: 8px;
    padding-bottom: 8px;
}
.nombre-producto{
    color: rgb(35, 31, 32); 
    text-align: left;
    cursor: pointer;
    font-family: "Neutra Text TF";
    font-size: 18px;
    font-weight: 400;
    height: auto;
    line-height: 27px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    text-align: left;
    text-decoration-color: rgb(35, 31, 32);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}
.precio{
    display: flex;
    justify-content:flex-start;
    padding: 0px !important;
}

.precio-normal{
    box-sizing: border-box;
    color: rgb(143, 129, 120);
    display: inline;
    font-family: "Neutra Text TF";
    font-size: 22px;
    font-weight: 400;
    height: 25px;
    text-align: left;
    user-select: none;
    padding-top: 0px;
    padding-right: 15px;
    margin-left: 0 !important;
}
.precio-premium{
    width: 60px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: inline;
    font-family: "Neutra Text TF";
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    text-align: left;
    user-select: none;
}

P.mayor-de-18{
    color: #D10000;
    display: inline;
    font-family: "Neutra Text TF";
    font-size: 20px;
    font-weight: 400;
    height: 20px;
    text-align: left;
    user-select: none;
    padding-left: 10px;
}

p.palabra-premium{
    height: 15px;
    color: #212529;
    font-family: "Neutra Text TF";
    font-size: 10px;
}

p.palabra-mayor-de-18{
    height: 15px;
    color: #D10000;
    font-family: "Neutra Text TF";
    font-size: 10px;
    text-align: right;
}

.botones{
    display: flex;
    justify-content:flex-end;
    padding: 0px !important;
}

.boton-carrito{
    display: flex;
    align-items: flex-end;
}
.boton-principal {
    background-color: black;
    color: #fff;
    width: auto !important;
    height: 30px;
    margin-left: 5px;
    margin-top: auto;
    font-family: "Neutra Text TF";
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-style:solid;
    padding-right: 10px;
    padding-left: 10px;
}
.boton-principal:hover {
    background-color: #fff;
    color: black;
    border: black 3px double; 
    border-width: 0,1px !important;
}

.botonadd{
    padding-bottom: 10px;
}

.mayor-de-18{
    color: red;
}



@media (min-width: 992px) {
    section.container{
        max-width: 100% !important;
        width: 100% !important;
        padding: 0px 90px !important;
        align-items: center;
    }

    div.container {
        padding: 0px !important;
    }
}


@media (max-width: 992px) {
    section.container{
        max-width: 100% !important;
        padding: 0px 15px !important;
    }
    
    div.container {
        padding: 0px !important;
        max-width: 100% !important;
    }

    .producto-ind {
        margin-bottom: 20px; /* Valor predeterminado para la mayoría de los productos */
        display: flex;
        flex-direction: column;
    }

    .producto-ind:last-child {
        margin-bottom: 0; /* Elimina el margen inferior del último producto */
    }

    .card-img-top {
        border-radius: 0%; /* Puedes ajustar esto según tus preferencias */
    }

    .card-body {
        padding: 10px; /* Ajusta este valor según sea necesario */
    }
}