@charset "utf-8";
/* CSS Document */

/* FONTS */
/* Letra grande banner slider */
@font-face {
    font-family: "OPTICrawClaredon-Book";
    src: url(../fonts/OPTICrawClarendon-Book.otf);
}
/* Titulos secciones */
@font-face {
    font-family: "ClaredonBTPro-Bold";
    src: url(../fonts/ClarendonBTPro-Bold.ttf);
}
/* Primaria normal */
@font-face {
    font-family: "Neutra Text TF Book";
    src: url(../fonts/Neutra\ Text\ TF\ Book.otf);
}
/* Primaria gruesa */
@font-face {
    font-family: "Neutra Text TF Bold";
    src: url(../fonts/neutra-text-tf-bold.otf);
}
/* Primaria fina */
@font-face {
    font-family: "Neutra Text TF Light";
    src: url(../fonts/neutra-text-tf-light-5871e0fe13bff.otf);
}
/* Letra menu y banner slider */
@font-face {
    font-family: "Neutra Text TF SC";
    src: url(../fonts/neutra-text-tf-sc.otf);
}



/*Variables CSS*/
/* CSS CARRITO */

/* CSS TITULO PAGINA */
.texto-titulo{
    font-family: "OPTICrawClaredon-Book";
    font-size: 29px;
    color: #212529;
}
.paginacion{
    max-width: 1260px !important;
    margin: auto !important;
    padding-top: 10px;
}
.texto-titulo-carrito{
    max-width: 1260px;
    margin: 0px;
    margin: auto !important;
}
.breadcrumb-item.active{
    color: #8F8178 !important;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}
.breadcrumb-item.active::before{
    color: #8F8178 !important;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}
.a-breadcrumb{
    text-decoration: none;
    color: #8F8178;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
    font-weight: 700 !important;
}


/* CSS CONTENIDO CARRITO */
.contenido{
    display: flex;
    flex-direction: row;
    max-width: 1260px;
    margin: auto;
}
.tabla-contenido-carrito{
    display: flex;
    flex-direction: column;
    justify-content:space-between !important;
    margin: auto;
}


/* CABECERA */
.tabla-contenido-carrito thead {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}

.tabla-contenido-carrito .fila-titulos {
    display: flex;
    flex: 1;
    align-items: center;
    border-bottom: 3px solid #dee2e6; 
    padding-bottom: 12px;
    padding-top: 30px;
}

.tabla-contenido-carrito .col-nombre {
    flex: 3;
    text-align: left; 
}

.tabla-contenido-carrito .col-precio,
.tabla-contenido-carrito .col-cantidad {
    flex: 1;
    text-align: center; 
}

.tabla-contenido-carrito .col-precio-total {
    flex: 1;
    text-align: right; 
}



/* CUERPO */
.tabla-contenido-carrito tbody {
    display: flex;
    flex-direction: column;
}

.tabla-contenido-carrito .fila-producto {
    display: flex;
    flex: 1;
    align-items :flex-start;
    border-bottom: 1px solid #ccc; 
    height: 100% !important;
}

.tabla-contenido-carrito .fila-producto td {
    flex: 1;
    height: 100% !important;
}

.tabla-contenido-carrito .col-nombre-info {
    flex: 3 !important;
}

.tabla-contenido-carrito .col-precio-info,
.tabla-contenido-carrito .col-cantidad-info {
    flex: 1 !important;
    text-align: center; 
}

.tabla-contenido-carrito .col-precio-total-info {
    flex: 1 !important;
    text-align: right; 
    height: auto !important;
}

.producto-contenedor{
    display: flex;
    flex-direction: row !important;
}

.producto-imagen{
    padding-right: 15px;
}

.producto-imagen img {
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto; 
    object-fit: contain; 
}

.tabla-contenido-carrito.fila-producto.col-precio-info{
    padding-top: 20px;
}

.contenido-col-1 {
    height: 100% !important;
    padding: 20px 12px 30px 0px !important;
    
}

.contenido-col-2 {
    height: 100% !important;
    padding: 20px 12px 30px 12px !important;
    
}

.contenido-col-3 {
    height: 100% !important;
    padding: 20px 0px 30px 12px !important;
    
}

.pos-titulos-2 {
    text-align: right;
    padding-right: 12px;
}

.eliminar-icono{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: none;
    padding-left: 0px;
}

.basura{
    width: 18px;
    height: 18px;
}

.palabra-eliminar{
    color:#231F20 ;
    font-size: 14px;
    font-family: "Neutra Text TF Book";

}

.palabra-categoria{
    color: #8F8178;
    font-size: 16px;
    font-family: "Neutra Text TF Book";
    font-weight: 100 !important;
}

.palabra-nombre {
    color: #231F20;
    font-size: 16px;
    font-family: "Neutra Text TF Book";
    font-weight: 600 !important;
}

.s-titulo{
    color: #212529;
    font-size: 16px;
    font-family: "Neutra Text TF Book";
    font-weight: 600 !important;
}

.palabra-precio{
    color: #212529;
    font-size: 24px;
    font-family: "Neutra Text TF Book";
    font-weight: 100 !important;
    text-align: right;
}

.palabara-subtotal{
    color: #212529;
    font-size: 24px;
    font-family: "Neutra Text TF Book";
    font-weight: 600 !important;
    text-align: right;
}

/* CSS RESUMEN CARRITO */
.contenido-resumen{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    padding-left: 215px;
}

.titulo-uno{
    font-size: 20px;
    font-family: "Neutra Text TF SC";
    color: #212529;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.texto-subtotal{
    padding-bottom: 20px;
}

.mensaje-subtotal{
    font-size: 15px;
    font-family: "Neutra Text TF Book";
    color: #212529;
    font-weight: 600;
}

.palabra-dos{
    font-size: 20px;
    font-family: "Neutra Text TF Book";
    color: #212529;
    font-weight: 600;
    padding-bottom: 20px;
}

.precio-uno{
    font-size: 22px;
    font-family: "Neutra Text TF Book";
    color: #212529;
    font-weight: 100;
    text-align: right;
    padding-bottom: 20px;
}

.palabra-tres{
    font-size: 20px;
    font-family: "Neutra Text TF Book";
    color: #212529;
    font-weight: 600;
    padding: 12px 12px;
}

.precio-dos{
    font-size: 20px;
    font-family: "Neutra Text TF Book";
    color: #212529;
    font-weight: 600;
    padding: 12px 12px;
    text-align: right;
}

a.seguir-comprando{
    margin-top: 23px;
    padding: 4px 24px;
    text-align: center;
    color: #231F20 !important;
    font-size: 18px;
    font-family: "Neutra Text TF Book";
}

.total-pedido{
    background-color: #F6F6F6;
}

.boton-principal {
    background-color: #231F20;
    color: #fff;
    font-family: "Neutra Text TF";
    font-size: 24px;
    font-weight: 600 !important;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 16px;
    border-style:solid;
}
.boton-principal:hover {
    background-color: #fff;
    color: black;
    border: black 3px double; 
    border-width: 0,1px !important;
}







.titulos-secciones{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: 'ClaredonBTPro-Bold';
    font-size: 32px;
}
