.stars {
    display: inline-block;
}

.star {
    cursor: pointer;
    color: #ddd;
}

.star.filled {
    color: #ffd700;
}

.contenidoReseñas{
    background-color: red;
    text-align: left;
}


.asc-btn{
    display: flex;
    flex-direction: column;
}

